body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#score {
    font-size: 4vw;
    color: darkred;
    margin-bottom: 50px;
}

#wordDiv {
    font-size: 5vw;
}

#info {
    position: absolute;
    font-size: 5vw;
}

#show-results {
    position: absolute;
    right: 0;
    background-color: dimgrey;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
}

#show-results:hover {
    background-color: darkgrey;
}

#results {
    display: none;
    position: absolute;
    background-color: darkgrey;
    width: 100vw;
    height: 100vh;
    padding: 5%;
    text-align: center;
    font-size: 25px;
}